.git
.gitignore
.github
__MACOSX
.DS_Store
*.swp

__pycache__/
*.py[cod]
*$py.class
*.so

.venv.nosync
.venv
venv
env
pip-log.txt

.dvc/cache
.dvc/tmp

# Exclude model directory contents except the specific artifact
models/*
!models/titanic_model.pkl
!models/preprocessor.pkl

outputs/
notebooks/

.pytest_cache/
.coverage
htmlcov/x₹x₹